/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$primary: #3e8acc;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: true;

$font-size-base: 1rem;

$dropdown-link-hover-color: white;
$dropdown-link-hover-bg: #343a40;

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

html, body {
  height: 100%;
}

body {
  color: white;
  font-family: 'Montserrat', sans-serif;

  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #533f03;
  font-weight: bold;
}

a:hover {
  color: #533f03;
}

a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

.wrapper {
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  //height: 5%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.4);
}
